<h1>Pages#home Hi Trouni.</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <h3>User signed in!</h3>
  <%= current_user.email %>
<% end %>
<%= @email %>
<%#= current_user&.user %>
